
<p>
  <form method="get" action="/quizes">
    Buscador:
    <input type="text" name="search" value="" />
    <input type="submit" value="Buscar" >
  </form>
</p>
<br />

<table width="100%" cellpading="0" cellspacing="5" border="0" style="text-align:center;">
<% var i; for (i=0; i < quizes.length; i++) { %>
	<tr>
    <td width="90%">
      <a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a> &nbsp;&nbsp;
    </td>
    <td width="5%"><a href="quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a></td>
    <td width="5%">
      <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
        <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
          Borrar
        </button>
      </form>
    </td>
  </tr>
<% } %>
</table>

<a href="/quizes/new"><button type="button" > Crear pregunta </button></a>